.loader {
    background-color: currentColor;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1021;
    display: flex;    
}

.sidebar-inner,
body > .navbar-collapse {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 16rem;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center;

    .sidebar-wrapper {
        position: relative;
        max-height: calc(100vh - 75px);
        min-height: 100%;
        overflow: auto;
        width: 16rem;
        z-index: 4;
        padding-bottom: 100px;
    }

    .sidebar-background {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
    }

    .logo {
        padding: $navbar-padding-a;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        position: relative;
        z-index: 4;

        .simple-text {
            text-transform: uppercase;
            padding: $padding-small-vertical $padding-zero;
            display: block;
            font-size: $font-size-large;
            color: $white-color;
            text-align: center;
            font-weight: $font-weight-normal;
            line-height: 30px;
            text-decoration: none;
        }
    }

    .logo-tim {
        border-radius: 50%;
        border: 1px solid #333;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;

        img {
            width: 60px;
            height: 60px;
        }
    }

    .nav-item {
        border: 0.0625rem solid transparent;
        margin-bottom: 0.2rem;
    }

    .nav-link {
        color: #eaedf2;
        // font-size: 1rem;
        vertical-align: middle;
        padding: 0.55rem 0.75rem;
        border-radius: 0.5rem;
    }

    .nav-item > .nav-link.active {
        color: #eaedf2;
        background-color: #2e3650;
        border: 0.0625rem solid #4c5680;
    }

    &:after,
    &:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &:before {
        opacity: 0.6;
        background: #000000;
    }

    &:after {
        z-index: 3;
        opacity: 1;
    }
}

.main-panel {
    background: rgba(203, 203, 210, 0.15);
    position: relative;
    float: right;
    width: 100%;
    min-height: 100%;

    > .content {
        padding: 30px 15px;
        min-height: calc(100% - 123px);
    }

    > .footer {
        border-top: 1px solid #e7e7e7;
    }

    .navbar {
        margin-bottom: 0;
    }

    span.title {
        text-shadow: 0 0 6px blue;
    }

    .what {
        ul {
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }
        ol li::marker {
            font-weight: bold;
        }
        ul.ulDonation {
            list-style-type: initial;
        }
    }

    .card-leveler .card-header {
        color: white;
        background-color: #3490dc;
    }

    .form-progress label {
        text-align: end;
    }
}

.sidebar-parent {
    display: none;
    .logo-img img {
        margin: 20px 0 -20px;
    }
}

.sidebar-inner,
.main-panel {
    overflow: auto;
    max-height: 100%;
    height: 100%;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: 0.2s, 0.2s;
    transition-duration: 0.2s, 0.2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}

.chartWrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
