.login {
    .input-group-text {
        font-size: 0.875rem !important;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
        border-right: 0 !important;
        color: #93a5be !important;
        background-color: #ffffff !important;
    }

    .input-group .form-control:not(:first-child) {
        border-left: 0 !important;
        padding-left: 0 !important;
    }

    .form-control:focus {
        border-color: #ced4da;
        outline: none;
        box-shadow: none;
    }
}
