.pro-sidebar {
    width: 250px !important;
    min-width: 250px !important;
    z-index: 1021;
    &.collapsed {
        width: 80px !important;
        min-width: 80px !important;
        .brand-link img {
            display: none;
        }
        .pro-inner-item {
            padding: 8px 0 8px 10px !important;
            &:hover {
                background-color: initial !important;
            }
            .pro-icon-wrapper {
                margin-right: 20px !important;
            }
        }
    }
    .pro-sidebar-inner {
        .pro-sidebar-header {
            text-align: center;
            .brand-link img {
                padding-top: 1.4rem;
                margin-bottom: -15px;
            }
        }
        .pro-sidebar-content {
            padding: 0 0.6rem;
            .pro-menu-item {
                .pro-inner-item {
                    border-radius: 0.25rem;
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }

                .pro-item-content {
                    color: white;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .pro-sidebar.md {
        position: fixed;
        left: -250px !important;
    }
    .pro-sidebar.md.toggled {
        left: 0 !important;
    }
}
